@font-face {
  font-family: Concourse;
  src: url(ConcourseT6Regular.ttf)
}
@font-face {
  font-family: Equity;
  src: url(EquityTextARegular.ttf)
}
body {
  font-family: Equity;
  font-size: 1em;
  line-height: 1.2;
}

.contents {
  margin: 20px 20px 20px 20px;
  display: inline-block;
  max-width: 500px;
}

.title {
  font-family: Concourse;
  text-transform: capitalize;
}

.summary {
  text-align: justify;
  hyphens: auto;
  margin: 5px auto 5px auto;
}

.keywords {
  display: inline-block;
  float: right;
  color: green;
}
