@font-face {
  font-family: Concourse;
  src: url(ConcourseT6Regular.ttf)
}
@font-face {
  font-family: Equity;
  src: url(EquityTextARegular.ttf)
}
body {
  font-family: Equity;
  font-size: 1em;
  line-height: 1.2;
}
/* .timeline { */
/*   margin: 100px auto 100px auto; */
/*   border: 2px solid gray; */
/*   width: 900px; */
/* } */
.feature_img {
  max-height: 100px;
}

.contents {
  display: inline-block;
  max-width: 500px;
}

.entry {
  padding: 30px 30px 30px 30px;
  margin: 40px auto 40px auto;
  border: 2px solid gray;
}

.title {
  font-family: Concourse;
  text-transform: capitalize;
}

.summary {
  text-align: justify;
  hyphens: auto;
  margin: 5px auto 5px auto;
}

.keywords {
  display: inline-block;
  float: right;
  color: green;
  padding: 3px 3px 3px 3px;
  border: 1px solid black;
}
